/* Icons from directory "" */
.icon-desktop-solid,.icon-desktop-solid\:regular{background-image:url('icons/desktop-solid.svg');background-repeat:no-repeat}
.icon-desktop-solid-dims{width:32px;height:32px}
.icon-mobile-alt-solid,.icon-mobile-alt-solid\:regular{background-image:url('icons/mobile-alt-solid.svg');background-repeat:no-repeat}
.icon-mobile-alt-solid-dims{width:32px;height:32px}
.icon-pencil-ruler-solid,.icon-pencil-ruler-solid\:regular{background-image:url('icons/pencil-ruler-solid.svg');background-repeat:no-repeat}
.icon-pencil-ruler-solid-dims{width:32px;height:32px}
.icon-printer,.icon-printer\:regular{background-image:url('icons/printer.svg');background-repeat:no-repeat}
.icon-printer-dims{width:32px;height:32px}